<div class="row">
    <div class="col-md-12">
        <h3>Guild Challenge Modes</h3>
        <div ng-show="loading">
            <p class="text-center" style="margin-top:150px;">
                <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </p>
        </div>
        <div ng-show="!loading">
            <div class="well" ng-repeat="challenge in challenges">
                <h4>{{challenge.map.name}}</h4>
                <div ng-repeat="group in challenge.groups | orderBy: 'ranking'" ng-show="challenge.groups.length > 0">
                    <strong>Rank {{group.ranking}}: </strong>
                    <span ng-repeat="member in group.members" style="margin-right:5px;">
                        <a ui-sref="character.general({characterName: member.character.name})">{{member.character.name}}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
